.btn{
    background-color: rgb(243, 187, 4);
    margin-top: 20px;
    margin-bottom: 20px;
    position:relative;
    justify-content: center;
}

form{
    height:auto;
    width: 40%;
}

tr{
    
}