{% extends 'base.html.j2' %}
{% block title %}
Pokemon
{% endblock %}

{% block content %}

<h1>Pokemon Info</h1>
<form action="/pokeinfo" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="name">
  </div>
  <div style="color:red"><small>{{error}}</small></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if pokemon %}

  <table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Base Experience</th>
        <th scope="col">HP</th>
        <th scope="col">Attack</th>
        <th scope="col">Defense</th>
        <th scope="col">Ability</th>
        <th scope="col">Sprite</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{pokemon['name']}}</th>
        <td>{{pokemon.base_experience}}</td>
        <td>{{pokemon.hp}}</td>
        <td>{{pokemon.attack}}</td>
        <td>{{pokemon.defense}}</td>
        <td>{{pokemon.ability}}</td>
        <td><img src= {{ pokemon.sprite }}></td>
      </tr>
    </tbody>
  </table>
{% endif %}

{% endblock %}