{% extends 'base.html.j2' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Welcome, {{current_user.first_name}} </h1>
    What would you like to do today?

    {# show an overview of their account, their team, & build a table of their wins/losses #}
    
{% endblock %}
