{% extends 'base.html.j2' %}

{% block title %}
Other Players
{% endblock %}

{% block content %}
<h1> Other Players </h1>
<hr>

{% if players %}
        {% for pokemon in team %}
        <div id="team_container">
            <div class="card" style="width:15rem;">
            <img src="{{ pokemon.sprite }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{pokemon['name'].title()}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Base Experience: {{pokemon.base_experience}}</li>
                <li class="list-group-item">HP: {{pokemon.hp}}</li>
                <li class="list-group-item">Attack: {{pokemon.attack}}</li>
                <li class="list-group-item">Defense: {{pokemon.defense}}</li>
                <li class="list-group-item">Ability: {{pokemon.ability.title()}}</li>
            </ul>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>We're sorry. There seem to be no other eligible players at this time. Come back later and try again!</p>
    {% endif %}













{% endblock %}